@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background: #f9fafb;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
}

.container {
    width: 300px;
    background: papayawhip;
    padding: 30px;
    border: 1px solid crimson;
    border-radius: 4px;
}

.form-contral {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0;
    justify-content: center;
}

.form-contral label{
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.percent, .amount {
    height: 30px;
    width: 136px;
    margin: 0 auto;
}

.percent-icon, .dollar-icon{
    font-size: 20px;
    position: absolute;
}

.percent-icon{
    bottom: 3px;
    right: 30px;
}

.dollar-icon{
    bottom: 3px;
    left: 36px;
}

.calculate-btn {
    width: 100%;
    cursor: pointer;
    padding: 5px;
}

.total {
    border: 1px solid black;
    background: white;
    text-align: center;
    margin: 10px;
    border-radius: 3px;
}